@import './global.scss';
@import './panel.scss';
@import './account-panel.scss';
@import './calendar-page.scss';
@import './menu-page.scss';
@import './analysis-page.scss';
@import './logo.scss';

html,
body {
	background-color: var(--bg-1);
	height: 100%;
	overflow: hidden;
	overscroll-behavior: none;
	user-select: none;
}

main-app {
	position: relative;
	background-color: var(--bg-2);
	max-width: 500px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.icon {
	font-size: 2rem;
}

.page {
	width: 100%;
	height: 100%;
	position: fixed;
	transform: translateX(0);
	transition: transform 0.3s ease;
}

body:not(.menu) menu-page {
	transform: translateX(-100%);
}

body.menu calendar-page {
	transform: translateX(100%);
}

body:not(.analysis) analysis-page {
	transform: translateX(100%);
}

body.analysis calendar-page {
	transform: translateX(-100%);
}

@media (min-width: 501px) {
	main-app {
		border-radius: 2rem;
		overflow: hidden;
		box-shadow: 0 0 1rem #00000033;
	}
}
